.button-container {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.active {
  background-color: #3791f7;
  color: white;
}

.disabled {
  background-color: light-gray;
  color: gray;
}
