.TodoEditer{
    width: 600px;
    justify-content: center;
    height: 40px;
    padding: 20px;
}

.TodoEditer .textinput{
    width: 100%;
    height: 100%;
    padding-left : 15px;
  }

  .TodoEditer .textinput:focus {
    border-color: rgb(193 193 193);
    outline: none;
  }
  
.TodoEditer .textinput::placeholder {
    font-style: oblique;
}

  